{% extends 'base.html.twig' %}


{% block title %}{{post.title}}{% endblock %}

{% block breadcrumb %}
> View post 
{% endblock %}

{% block body %}
<!-- THIS IS THE VIEW -->
{# {% if post.id > 0 %}
    <h2>Post Title</h2>
        <h3>{{post.title}}</h3>
    <h2>Post Content</h2>
        <h3>{{post.text}}</h3>
    <div>
    <!-- param is accessing the `created` key of the messages array index --> 
    {% if date(post.created) < date('-1year') %}
        Message older than 1 year
    {% else %}
        Message received {{ post.created|date('d/m/Y')}}
    {% endif %}  
{% else %} 
        Invalid postID
    {% endif %}  
</div> #}
{{ include('/micro_post/_post.html.twig', {post: post})}}

{% endblock %}
